.navbar-light .navbar-nav .nav-link {
  color:#69A61F;
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.platos img {
    width: 600px;
    height: 400px;
}

.nav-item.logo.active img {
  border-radius: 2px;
}
.nav-item.logo img:hover {
  background: #69A61F;
  border-radius: 2px;
}
.nav-item.logo img {
  height: 40px;
  padding: 10px 20px;
  align-items: center;
}
img {
  vertical-align: middle;
  border-style: none;
}
*, ::after, ::before {
  box-sizing: border-box;
}
ul, li, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-right: 0.5em;
}


/*------------------------------------------------------------------
MENU 
-------------------------------------------------------------------*/


.item {
    border: 2px solid #F29441;
    padding: 10px;
    border-radius: 20px;
  }
  
  .item-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
  }
  
  .item-image {
    height: 300px;
    width: 100%;
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
  }
  
  .item-details > .item-price {
    margin: 0;
  }
  
 /*------------------------------------------------------------------
SHOPING CART
-------------------------------------------------------------------*/
  .shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }
  
  
  .btn-primary {
      color: #fff;
      background-color: #69A61F;
      border-color:#69A61F;;
  }